body {
	/*height: 100vh;*/
    background-color: #000000;
    background-image: url(../images/body-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* backdrop-filter: blur(1px); */
    /* background-color: rgba(28, 26, 26, 0.6);*/
}
.transparent-bg{
	background-color: transparent;
	backdrop-filter: blur(15px);
	color: #FFF;
	background-color: rgba(28, 26, 26, 0.9);
}
@media only screen and (min-width: 1200px) and (max-width: 1873px) {
    .container {
        max-width: 1440px;
    }
}

.header-navigation.sticky{
	background: rgba(28, 26, 26, 0.1);
	backdrop-filter: blur(15px);
}
.header-navigation .nav-container.breakpoint-on .nav-menu{
	background: rgba(28, 26, 26, 0.5);
    backdrop-filter: blur(15px);
}
.header-navigation .nav-container.breakpoint-on .nav-menu .main-menu ul li a{
	color: #FFF!important;
}
.domain-connection-section,
.header-navigation.sticky .nav-container .main-menu ul li > a{
	color: #FFF;
}

.domain-connection-section{
	padding-top: 130px;
}

.domain-connection-section .left-wrap{
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
    border-radius: 20px;
	width: 100%;
    max-width: 348px;
	position: sticky;
	top: 0;
	backdrop-filter: blur(15px);
}
@media (min-width: 992px) {
    .domain-connection-section .left-wrap .left-wrap-img,
	.domain-connection-section .left-wrap .left-wrap-details{
        padding: 24px;
    }
}
.domain-connection-section .left-wrap .left-wrap-details{
	padding: 8px 24px;
}
.domain-connection-section .left-wrap .left-wrap-img {
	background-color: #eee;
    border-radius: 20px 20px 0 0;
    text-align: center;
    padding: 8px 24px;
}
.domain-connection-section .left-wrap .left-wrap-img img{
	width: 96px
}

.domain-connection-section .left-wrap h4{
	font-weight: 600;
}
.domain-connection-section .left-wrap h6,
.domain-connection-section .left-wrap p{
	font-size: 14px;
}

.domain-connection-section .right-wrap{
	position: sticky;
	top: 0;
}
.domain-connection-section .right-wrap h2{
	font-size: 2.25rem;
    font-weight: 300;
	color: #FFF;
}
.domain-connection-section .right-wrap p{
	color: #FFF;
}
.domain-connection-section .right-wrap .nav-item{
	width: 100%;
	max-width: 492px;
    margin-bottom: 8px;
}
.domain-connection-section .right-wrap .nav-pills .nav-link{
	border: 1px solid #FFF;
    border-radius: 20px;
	color: #FFF;
	background-color: transparent;
	display: flex;
    align-items: center;
	width: 100%;
	padding: 8px 16px;
}
.domain-connection-section .right-wrap .nav-pills .nav-link.active,
.domain-connection-section .right-wrap .nav-pills .show>.nav-link{
	background-color: #8cc1c1;
    /*border-color: #8cc1c1;*/
	color: #FFF;
	background-color: rgba(55, 55, 55, 0.1);
    backdrop-filter: blur(15px);
}

.domain-connection-section .right-wrap .nav-link .circle{
	width: 22px;
    height: 22px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 2px #ccc;
    box-shadow: 0 0 0 2px #ccc;
	margin-right: 10px;
}
.domain-connection-section .right-wrap .nav-link.active .circle{
	background-color: #8cc1c1;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.domain-connection-section .right-wrap .input-group{
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
    border-radius: 20px;
	background-color: transparent;
    backdrop-filter: blur(15px);
}
.domain-connection-section .right-wrap .form-control{
	font-size: 1.25rem;
	font-weight: 500;
	/*border-radius: 20px;*/
	height: 63px;
	border: 0;
	color: #FFF;
	background-color: transparent;
	backdrop-filter: blur(15px);
}
.domain-connection-section .right-wrap .form-control::placeholder{
	color: #FFF;
}
.domain-connection-section .right-wrap .input-group-text{
	background-color: transparent;
	border: 0;
	font-size: 24px;
	color: #FFF;
}
.domain-connection-section .right-wrap .form-control:focus{
	box-shadow: none;
}


.saas-footer .footer-widget{
	background: transparent;
	backdrop-filter: blur(15px);
}
.saas-footer .footer-widget .widget h4.widget-title,
.saas-footer .footer-widget .widget.newsletter-widget p{
	color: #FFF;
}
.saas-footer .copyright-area{
	background-color: rgba(28, 26, 26, 0.1);
	backdrop-filter: blur(15px);
}
.saas-footer .copyright-area p{
	color: #FFF;
}

.domain-connection-footer{
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .14);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .14);
    z-index: 1;
	padding: 8px 0;
	margin-top: 56px;
	position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: #fff;*/
	background-color: rgba(28, 26, 26, 0.1);
	backdrop-filter: blur(15px);
}
.domain-connection-footer .media-icon{
	width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #f8f8f8;
	margin-right: 12px;
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	position: relative;
}
.domain-connection-footer .status-icon{
	position: absolute;
    right: -5px;
    top: -5px;
    color: #74cccc;
	font-size: 12px;
}
.domain-connection-footer h2{
	font-weight: 600;
	margin-left: 24px;
	color: #FFF;
}
.domain-connection-footer p{
	font-size: 12px;
	color: #FFF;
}
.domain-connection-footer .collapse.show{
	margin-bottom: -50px;
}
.domain-connection-footer h6,
.saas-footer .footer-widget .widget.about-widget p{
	color: #FFF;
}
.footer-widget .widget-link a{
	color: #FFF;
}
/*--------------------------------------*/

/* Search Result
/*--------------------------------------*/
.search-result .search-result-wrap{
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
    border-radius: 20px;
	padding: 6px 12px;
}
.search-result h5{
	font-size: 16px;
	font-weight: 500;
	color: #FFF;
	margin-bottom: 12px;
}
.search-result .search-right-wrap{
	display: flex;
	align-items: center;
	justify-content: end;
}
.search-result .search-right-wrap .price{
	font-size: 20px;
	line-height: 16px;
	margin-right: 20px;
}
.search-result .search-right-wrap .price span{
	font-size: 12px;
}

/* Cart Button CSS*/
.cart-button {
	position: relative;
	padding: 10px;
	width: 105px;
	height: 35px;
	border: 0;
	border-radius: 5px;
	background-color: #00fffc;
	outline: none;
	cursor: pointer;
	color: #000;
	transition: .3s ease-in-out;
	overflow: hidden;
	/*font-weight: 700;*/
  }

  .cart-button:hover {
	background-color: #00fffc;
  }
  .cart-button:active {
	transform: scale(.9);
  }

  .cart-button .fa-cart-shopping {
	position: absolute;
	z-index: 2;
	top: 50%; left: -20%;
	font-size: 1.2em;
	transform: translate(-40%, -50%);
  }
  .cart-button .fa-box {
	position: absolute;
	z-index: 3;
	top: -20%; left: 52%;
	font-size: .5em;
	transform: translate(
		-30%, -50%);
	color: gold;
  }

.cart-button span {
	position: absolute;
	z-index: 3;
	left: 35%;
	top: 50%;
	font-size: 12px;
	color: #000;
	transform: translate(-30%, -50%);
}

.cart-button span
.add-to-cart {
	opacity: 1;
}

.cart-button span.added {
	opacity: 0;
}

.cart-button.clicked .fa-cart-shopping {
	animation: truck 2s ease-in-out forwards;
}

.cart-button.clicked .fa-box {
	animation: box 2s ease-in-out forwards;
}

.cart-button.clicked span.add-to-cart {
	animation: txt1 2s ease-in-out forwards;
}

.cart-button.clicked span.added {
	animation: txt2 2s ease-in-out forwards;
}

@keyframes truck {
	0% { left: -10%; }
	40%,
	55% { left: 50%; }
	100% { left: 110%; }
}

@keyframes box {
	0%,
	40% { top: -20%; left: -5%; }
	55% { top: 37%; left: 52%; }
	100% { top: 37%; left: 110%; } }

@keyframes txt1 {
	0% { opacity: 1; }
	20%,
	100% { opacity: 0; } }

@keyframes txt2 {
	0%,
	80% { opacity: 0; }
	100% { opacity: 1; } }
/*--------------------------------------*/

/* Responsive
/*--------------------------------------*/

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
	
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	.header-navigation.sticky{
		background: rgba(28, 26, 26, 0.9);
		backdrop-filter: none;
	}
	.domain-connection-footer p{
		color: #565872;
	}
	.domain-connection-footer .card h2{
		color: #222F5A;
	}
}

/* Apply styles starting from medium devices and up to extra large devices*/
@media (min-width: 991.98px) and (max-width: 1199.98px) {
	
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	.domain-connection-footer .collapse-steps{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.search-result .search-left-wrap{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.cart-button{
		margin-top: 8px;
	}
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
   .domain-connection-footer h2{
		font-size: 24px;
	}
	
}

@media (max-width: 640px) {
  
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	
	
}

/* `xs` returns only a ruleset and no media query */
@media (max-width: 480px) {
	
}

@media (max-width: 460px) {
	
}
/*--------------------------------------*/