/*--------------------------------------*/

/*My Services Section*/
/*--------------------------------------*/
.services-section .wrap {
	margin-bottom: 60px;
}

.services-section .section-header h2 span {
	color: #7366f4;
}

.services-section p {
	font-size: 14px;
}

.services-section .card {
	background-color: transparent;
	color: #FFFFFF;
	box-shadow: 0 0 4px;
	padding: 20px 10px;
	height: 100%;
}

.services-section .card .card-icon {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	margin: 0px auto;
	box-shadow: 0 0 3px;
}

.services-section .card .card-icon i {
	color: #7366f4;
	font-size: 20px;
}

.services-section .voliet-btn {
	top: 14px;
	right: 0;
	height: auto;
	padding: inherit;
	width: 160px;
}

.services-section .voliet-btn h6 {
	font-size: 14px;
}

.services-section .voliet-btn p {
	font-size: 12px;
}

.bg-gradient-info {
	background-color: #00c8ff;
	background: linear-gradient(180deg, #00c8ff, #0072ff) !important;
	border: 0px solid rgba(255, 255, 255, .125);
}

.services-section .voliet-btn .card-body {
	padding: 10px 20px;
}

.services-section .voliet-btn .icon {
	border: 2px solid #FFF;
	border-radius: 50px;
	padding: 4px;
	width: 30px;
	height: 30px;
}

/*--------------------------------------*/

/*profile-page*/
/*--------------------------------------*/
.profile-page .mobile-code .iti {
	width: 100%;
}

.profile-page .mobile-code .iti__country-list {
	z-index: 3;
}

/*--------------------------------------*/

/*company-details-page*/
/*--------------------------------------*/
.betweenflex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.company-details-page h5,
.company-details-page .form-label,
.company-details-page .form-control::placeholder {
	color: #FFFFFF;
}

.company-details-page .btn.btn-transparent {
	background-color: rgba(55, 55, 55, 0.3);
	backdrop-filter: blur(15px);
	border-radius: 0;
}

.company-details-page .btn.btn-transparent:hover {
	background-color: rgba(55, 55, 55, 0.1);
	color: #FFFFFF;
}

.custom-file-button input[type=file] {
	margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
	display: none;
}

.custom-file-button input[type=file]::file-selector-button {
	display: none;
}

.custom-file-button label {
	background-color: rgba(55, 55, 55, 0.3);
	color: #FFF;
	border-radius: 0;
}

.custom-file-button:hover label {
	background-color: rgba(55, 55, 55, 0.1);
	cursor: pointer;
}

/*--------------------------------------*/
/*------------------------------------new file--*/

/*--------------------------------------*/

.logout-right .logoutButton::before {
	background-color: rgba(55, 55, 55, 0.1);
	backdrop-filter: blur(15px);
}

.nestcart-logo {
	font-size: 24px;
	font-weight: 500;
	color: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nestcart-logo img {
	max-height: 55px;
}

.nestcart-logo span {
	margin-left: 8px;
}

.modal-backdrop {
	z-index: -1;
}


.btn.btn-transparent {
	background-color: rgba(55, 55, 55, 0.3);
	backdrop-filter: blur(15px);
	border: 0;
}

.btn.btn-transparent:hover {
	background-color: rgba(55, 55, 55, 0.1);
	color: #FFFFFF;
}

.transparent-bg {
	background-color: transparent;
	backdrop-filter: blur(15px);
}

.transparent-bg .form-control {
	background-color: transparent;
	color: #FFF;
	border-radius: 0;
}

.transparent-bg .form-control option {
	color: #333;
}

.transparent-bg .form-control::placeholder {
	color: #FFF;
}

.transparent-bg.card {
	border-color: rgb(208, 219, 233);
	box-shadow: 0px 5px 10px rgba(51, 66, 87, 0.5);
	transition: all 0.3s ease;
}

.transparent-bg.card:hover,
.transparent-bg.card.active {
	box-shadow: 0px 5px 24px rgba(255, 255, 255, 0.5);
}

.transparent-bg.modal-content {
	box-shadow: 0px 5px 24px rgba(255, 255, 255, 0.5);
}

.layout .sidebar .menu .menu-item a {
	margin: 0 8px;
}

.layout .sidebar .menu ul .menu-item.active a {
	background-color: rgba(55, 55, 55, 0.2);
	border-radius: 24px;
}

.layout .sidebar .menu .menu-header {
	font-size: 16px;
}

.layout .sidebar .menu .menu-item a .menu-title {
	font-size: 16px;
}

/*--------------------------------------*/

/*Social Section*/
/*--------------------------------------*/
.social-section .card-header {
	border-top: 8px solid;
}

/*--------------------------------------*/

/*Calendar Page*/
/*--------------------------------------*/
@media (min-width: 1200px) {
	.calendar-section .container {
		max-width: 1240px;
	}
}

.calander-header .filter-collapse .profile-dropdown .dropdown-menu {
	border: 1px solid rgb(222, 225, 225);
	box-shadow: rgba(39, 51, 51, 0.24) 0px 8px 16px;
	font-size: 13px;
}

.calander-header .filter-collapse .profile-dropdown .profile-social li {
	border: 1px solid rgb(222, 225, 225);
	border-radius: 6px;
	padding: 8px;
}

.calander-header .filter-collapse .profile-dropdown .dropdown-menu li p {
	font-size: 11px;
}

.calander-header .filter-collapse .profile-dropdown .profile-social li:hover {
	background-color: rgb(243, 244, 244);
}

.calander-header .filter-collapse .profile-dropdown .profile-social li:not(last-child) {
	margin-right: 4px;
}


.calander-header .filter-collapse .btn {
	font-size: 14px;
}

.calander-header .bootstrap-select.show-tick .dropdown-menu li a span.text {
	margin: 0;
	font-size: 14px;
}

.calendar-section .calendar-block {
	border-radius: 20px;
}

.calendar-section .calendar-wrap {
	min-height: 220px;
	border: 1px solid #ddd;
	/*border-image: linear-gradient(0.99turn, rgba(255,255,255,0), rgba(0,0,0,0.3), rgba(255,255,255,0));*/
	/*border-image-slice: 1;*/
}

.calendar-section .card {
	font-size: 12px;
}

.calendar-section .card-body .event-img {
	width: 60px;
	height: 100%;
}

.calendar-section .card-header .headline {
	width: 65%;
}

.calendar-section svg.icon {
	border-radius: 50%;
}

.calendar-section .accordion-header a:hover,
.calendar-section .accordion-header a[aria-expanded="true"] {
	filter: brightness(0%);
	filter: grayscale(1);
}

.calendar-section .list-inline-item:not(:last-child) {
	margin-right: 0;
}

.calendar-section .nav-pills .nav-link {
	padding: 4px 8px;
	font-size: 14px;
	color: #212529;
}

.calendar-section .nav-pills .nav-link.active,
.calendar-section .nav-pills .show>.nav-link {
	background-color: #212529;
	padding: 4px 8px;
	font-size: 14px;
	color: #FFF;
}

.calendar-time {
	font-size: 9px;
}

@media (min-width: 576px) {
	.card-group>.card+.card {
		margin-left: 0;
		border-left: 0;
	}
}

/*--------------------------------------*/

/*Create New Post Page*/
/*--------------------------------------*/
.create-post-page .container {
	border-radius: 20px;
	padding: 20px 40px;
	border: 1px solid #ccc;
	box-shadow: 0px 5px 24px rgba(255, 255, 255, 0.5);
	margin-bottom: 20px;
}

.create-post-page,
.create-post-page .card {
	color: #FFF;
}

.create-post-page .canvas-size svg {
	fill: currentcolor;
	font-size: 80px;
	color: rgb(199 199 199);
	width: 1em;
	height: 1em;
}

.create-post-page .transparent-bg.card:not(.collapsed) {
	box-shadow: 0px 5px 24px rgba(255, 255, 255, 0.5);
}


/*
.create-post-page .down-arrow {
	display: inline-block;
	position: relative;
	padding: 15px 0;
	width: 100%;
	text-align: center;
}
.create-post-page .down-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
	top: 100%;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 12px solid transparent;
}
.create-post-page .transparent-bg.card:not(.collapsed)>.down-arrow:after{
	border-top: 12px solid rgba(55, 55, 55, 0.7);
}
.create-post-page .down-ar1 {
	width: 16px;
    height: 16px;
	border: 3px solid transparent;
    margin: 0px auto;
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    top: 95%;
    z-index: -1;
    
}
.create-post-page .transparent-bg.card:not(.collapsed) .down-ar1{
	border: 3px solid rgba(255, 255, 255, 0.4);
	border-left-color: transparent;
    border-top-color: transparent;
	box-shadow: 0px 5px 24px rgba(255, 255, 255, 0.5);
}
*/

.create-post-page .transparent-bg.card .down-ar {
	content: url("data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%229%22%20viewBox%3D%220%200%2021%209%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22MuiSvgIcon-root%20MuiSvgIcon-colorPrimary%20MuiSvgIcon-fontSizeMedium%20css-1f692oa%22%20focusable%3D%22false%22%20aria-hidden%3D%22true%22%3E%3Cg%20clip-path%3D%22url(%23clip0_3391_20364)%22%3E%3Cpath%20d%3D%22M10.25%208L20%20-1.5L0.750001%20-1.5L10.25%208Z%22%20fill%3D%22transparent%22%20stroke%3D%22%23666%22%20stroke-width%3D%222%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_3391_20364%22%3E%3Crect%20width%3D%2221%22%20height%3D%229%22%20fill%3D%22white%22%20transform%3D%22translate(21%209)%20rotate(-180)%22%3E%3C%2Frect%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
	bottom: -9px;
	left: 45%;
	position: absolute;
	display: none;
}

.create-post-page .transparent-bg.card:not(.collapsed) .down-ar {
	display: block;
}

.create-post-page .btn-wrap {
	right: 32px;
	bottom: 16px;
}

/*--------------------------------------*/

/*Select Content Type Page*/
/*--------------------------------------*/
.select-content-type-page .btn-back:hover {
	background-color: #ccc;
}

.select-content-type-page .nav-link {
	color: #FFF;
	font-size: 12px;
	padding: 8px 8px;
}

/*Range*/
.__range input {
	outline: none;
	-webkit-appearance: none;
	background-color: #aaa;
	height: 3px;
	width: 100%;
	margin: 10px auto;
	cursor: pointer;
}

.__range input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background-color: green;
	border-radius: 50%;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.__range input::-moz-range-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background-color: green;
	border-radius: 50%;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.__range input::-ms-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background-color: green;
	border-radius: 50%;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.__range-step {
	position: relative;
	cursor: pointer;
}

.__range-max {
	float: right;

}

.__range-step input::-webkit-slider-thumb {
	background: transparent;
}

.__range-step input::-moz-range-thumb {
	background: transparent;
}

.__range-step input::-ms-thumb {
	background: transparent;
}

.__range-step datalist {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: auto;
	bottom: 16px;
	/* disable text selection */
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
	/* disable click events */
	pointer-events: none;
}

.__range-step datalist option {
	width: 10px;
	height: 10px;
	min-height: 10px;
	border-radius: 100px;
	/* hide text */
	white-space: nowrap;
	padding: 0;
	line-height: 40px;
}

.__range-step-popup output {
	position: absolute;
	background-color: green;
	width: 30px;
	height: 30px;
	text-align: center;
	color: white;
	border-radius: 100px;
	display: inline-block;
	font-size: 12px;
	bottom: 100%;
	left: 0;
	vertical-align: middle;
	line-height: 30px;
}

.__range-step-popup .__range-output-square {
	padding: 0 5px;
	min-width: 25px;
	width: auto !important;
	border-radius: 5px !important;
}

.__range-step-popup output:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid green;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	top: 90%;
	left: 50%;
	margin-left: -10px;
	margin-top: -1px;
}

.__range-step-popup datalist {
	overflow: hidden;
}

.__range-step-popup {
	margin: 40px 40px;
}

.media-post .nav-item {
	width: 33.33%;
}

.chooseModal .nav-item {
	width: 16.66%;
}

.chooseModal .nav-link {
	padding: 6px;
	font-size: 12px;
}

.chooseModal-details .select-content-type-page a[aria-expanded="true"].show-hide .more,
.chooseModal-details .select-content-type-page a[aria-expanded="false"].show-hide .hide {
	display: none;
}

.chooseModal-details .select-content-type-page a[aria-expanded="true"].show-hide .hide,
.chooseModal-details .select-content-type-page a[aria-expanded="false"].show-hide .more {
	display: inline-block;
}

.chooseModal-details img {
	height: 180px;
}

/*--------------------------------------*/
.select-wrapper {
	background: url('data:image/svg+xml,%3Csvg%20width%3D%2279%22%20height%3D%2249%22%20viewBox%3D%220%200%20109%2079%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M49.1736%2078.1818H27.0455C19.5875%2078.1818%2013.2154%2075.6165%207.92924%2070.4858C2.64308%2065.3551%200%2059.0843%200%2051.6733C0%2045.321%201.92596%2039.661%205.77789%2034.6932C9.62982%2029.7254%2014.6701%2026.5492%2020.8988%2025.1648C22.9477%2017.6723%2027.0455%2011.6051%2033.1921%206.96307C39.3388%202.32102%2046.3051%200%2054.0909%200C63.6797%200%2071.8139%203.31866%2078.4933%209.95597C85.1727%2016.5933%2088.5124%2024.6761%2088.5124%2034.2045C94.1674%2034.8561%2098.8593%2037.2789%20102.588%2041.473C106.317%2045.6671%20108.182%2050.5739%20108.182%2056.1932C108.182%2062.3011%20106.03%2067.4929%20101.728%2071.7685C97.4251%2076.044%2092.2004%2078.1818%2086.0537%2078.1818H59.0083V43.2443L66.876%2050.8182L73.7603%2043.9773L54.0909%2024.4318L34.4215%2043.9773L41.3058%2050.8182L49.1736%2043.2443V78.1818Z%22%20fill%3D%22%23296BD6%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
	background-size: cover;
	display: block;
	position: relative;
	width: 79px;
	height: 49px;
}

#image_src {
	width: 79px;
	height: 49px;
	margin-right: 100px;
	opacity: 0;
	filter: alpha(opacity=0);
	/* IE 5-7 */
}

/*--------------------------------------*/

/*business-post Page*/
/*--------------------------------------*/
.business-post .bootstrap-tagsinput {
	width: 100%;
	padding: 0.5rem 0.75rem 0;
	line-height: 1.25;
	transition: border-color 0.15s ease-in-out;
	background-color: transparent;
	backdrop-filter: blur(15px);
}

.business-post .bootstrap-tagsinput .label-info {
	display: inline-block;
	background-color: #636c72;
	padding: 0 0.4em 0.15em;
	border-radius: 0.25rem;
	margin-bottom: 0.4em;
}

.business-post .bootstrap-tagsinput input {
	margin-bottom: 0.5em;
}

.business-post .bootstrap-tagsinput .tag [data-role=remove]:after {
	content: "Ã—";
}

/*--------------------------------------*/

/*content-library*/
/*--------------------------------------*/
.content-library .nav-pills .nav-link {
	color: #FFF;
	border-radius: 0;
}

.content-library .nav-pills .nav-link.active,
.content-library .nav-pills .show>.nav-link {
	background-color: transparent;
	color: var(--bs-nav-pills-link-active-bg);
	border-bottom: 3px solid;
}

.content-library .card {
	font-size: 12px;
}

.content-library  .card .muibox {
	top: 11px;
	left: 11px;
	border-radius: 4px;
	padding: 2px;
}

.content-library  .card .more-edit {
	top: 11px;
	right: 11px;
	display: none;
}

.content-library .card .more-edit .icon {
	border-radius: 50%;
	padding: 4px;
}

.content-library  .card:hover .more-edit {
	display: flex;
}

.postModal .postModal-block {
	height: 399px;
}

.postModal p {
	margin-top: 10px;
}

.postModal .muibox {
	top: 6px;
	left: 50%;
	padding: 2px 6px;
}

/*--------------------------------------*/

/*social-accounts*/
/*--------------------------------------*/
.social-accounts .nav-pills .nav-link {
	color: #FFF;
	border-radius: 0;
}

.social-accounts .nav-pills .nav-link.active,
.social-accounts .nav-pills .show>.nav-link {
	background-color: transparent;
	color: var(--bs-nav-pills-link-active-bg);
	border-bottom: 3px solid;
}

.social-accounts .progress-wrap {
	max-width: 300px;
	margin-left: auto;
}

.social-accounts .progress-wrap .progress,
.social-accounts .progress-wrap.progress-stacked {
	--bs-progress-height: 3px;
}

.social-accounts .tab-content,
.social-accounts .tab-content .btn-sm {
	font-size: 12px;
}

.social-accounts .tab-content .icon {
	width: 25px;
	height: 25px;
}

.social-accounts .tab-content .icon2 {
	width: 20px;
	height: 20px;
}

.social-accounts .tab-content .status {
	width: 170px;
}

.social-accounts .status-profile {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(189, 189, 189);
}

.social-accounts .status-profile svg {
	width: 60%;
	height: 60%;
	fill: #fff;
}

.social-accounts .iframe {
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
}

.social-accounts .accordion-button::after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
	transition: all 0.5s;
}

.social-accounts .accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

.social-accounts .accordion-button::after {
	transition: all 0.5s;
}

.social-accounts .accordion-button:not(.collapsed) {
	background-color: transparent;
	font-weight: 700;
}

.linkAccount .modal-content::before {
	content: url("../images/icons/corner_1.svg");
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}

.linkAccount .modal-content::after {
	content: url("../images/icons/corner_2.svg");
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

/*--------------------------------------*/

/*competitor-analysis*/
/*--------------------------------------*/
.competitor-analysis .form-label-group.in-border label::after {
	background-color: #3e3c3c;
}

.competitor-analysis .form-label-group.in-border input:not(:placeholder-shown)~label {
	color: #FFF;
}

.competitor-analysis .form-control {
	border-radius: 10px;
}

.competitor-analysis .profile {
	background-color: rgb(189, 189, 189);
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

@media(min-width:992px) {
	.competitor-analysis .competitor-wrap-right {
		border-radius: 100px 8px 8px 100px;
	}
}

.competitor-analysis .competitor-wrap .competitor-wrap-right {
	background-color: rgb(40, 107, 214);
	padding: 20px 20px 20px 70px;
}

.competitor-analysis .competitor-wrap .competitor-wrap-right .wrap {
	margin-bottom: 16px;
	position: relative;
}

.competitor-analysis .competitor-wrap .competitor-wrap-right .wrap::before {
	content: "";
	position: absolute;
	top: 5px;
	height: 10px;
	width: 10px;
	left: -16px;
	background: rgb(255, 255, 255);
	border-radius: 50%;
}

.competitor-analysis .competitor-wrap .nav-pills {
	box-shadow: 0px 5px 24px rgba(255, 255, 255, 0.5);
}

.competitor-analysis .competitor-wrap .nav-pills .nav-link {
	color: #FFF;
	text-transform: uppercase;
}

.competitor-analysis .competitor-wrap .nav-pills .nav-link.active,
.competitor-analysis .competitor-wrap .nav-pills .show>.nav-link {
	background-color: transparent;
	border-image: linear-gradient(to right, #296bd6, #ea596e);
	border-bottom: 3px solid;
	border-image-slice: 1;
}

/*--------------------------------------*/

/*idea-lab-page*/
/*--------------------------------------*/
@media(min-width:992px) {
	.idea-lab-page .left-wrap {
		position: fixed;
	}
}

.idea-lab-page .left-wrap {
	min-width: 250px;
	height: 100%;
}

.idea-lab-page .left-wrap.nav-pills .nav-link {
	text-align: left;
	color: #FFF;
}

.idea-lab-page .left-wrap.nav-pills .nav-link.active,
.idea-lab-page .left-wrap.nav-pills .show>.nav-link {
	background-color: rgba(26, 106, 255, 0.08);
}

.idea-lab-page .tab-content {
	margin-left: 280px;
	width: 100%;
}

.idea-lab-page .tab-content .text-wrap {
	max-width: 600px;
	margin: 0px auto 20px;
}

.idea-lab-page .tab-content .chat-wrap {
	left: 554px;
	right: 30px;
	padding: 20px;
	backdrop-filter: blur(7px);
}

.idea-lab-page .tab-content .chat-wrap button {
	border: 0;
	background-color: transparent;
}

.idea-lab-page .tab-content .chat-wrap .form-control {
	width: 90%;
}

.idea-lab-page .dropdown-menu {
	--bs-dropdown-min-width: auto;
}

.idea-lab-page .chat-send,
.idea-lab-page .chat-reply {
	max-width: 80%;
}

.idea-lab-page .chat-reply-wrap {
	backdrop-filter: blur(15px);
}

/*--------------------------------------*/